<div class="text-center bg-white team-box mt-3 p-5" [ngClass]="{'active':imageModel.isLike === true}">
  <div class="">
    <img src="{{imageModel.img}}" alt=""
         class="img-fluid rounded-circle mx-auto d-block">
  </div>
  <div class="team-name">
    <p class="fw-bold mb-0 mt-4">{{imageModel.title}}</p>
    <p class="text-muted mt-4">{{imageModel.numberOflike}}</p>
    <p class="text-muted mt-4">{{imageModel.subtitle}}</p>
  </div>
  <app-button-like (toggleLikeEvent)="onEmitToggleLikeEvent($event)"></app-button-like>
</div>
